# Ignore source files
src/
*.ts
*.tsx
*.spec.ts
*.spec.tsx

# Ignore configuration files
.vscode/
.git/
node_modules/
.prettierrc
tsconfig.json
.eslintrc.json

# Ignore source map files
*.d.ts.map
*.js.map

# Do not ignore the dist directory and .d.ts files
!dist/
!dist/**/*.d.ts

.storybook
stories
storybook-static
.gitignore
package-lock.json
rollup.config.js
rollup.config.mjs
coverage
*.tgz